.red-color {
    color: red;
}
.login-form{
    max-width: 370px;
    margin: 0 auto;
    padding: 25px;
    margin: 0 10px;
    h3{
        text-align: center;
        margin-bottom: 15px;
    }
    .form-group{
        margin-bottom: 15px;
    }
    .btn{
        width: 100%;
    }
}
.form_login{
    box-shadow: 0 0 12px 0px #000;
    border-radius: 7px;
   .form_wrapper{
       padding: 25px;
   }
}